/* Smooth scrolling */
* {
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
    font-family: 'Archivo Black', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: #f4f4f4;
}

/* Keyframe animations for custom bounce effect */
@keyframes customBounce {
    30% {
        transform: scale(1.2);
    }
    40%, 60% {
        transform: rotate(-20deg) scale(1.2);
    }
    50% {
        transform: rotate(20deg) scale(1.2);
    }
    70% {
        transform: rotate(0deg) scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/* Styling for elements with the class 'about-logos' */
.about-logos {
    animation: customBounce 1.5s infinite;
    display: inline-block;
    margin: 20px;
}

/* Button styling */
button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* SVG path styling on button hover */
.w-full button:hover .svgg path {
    fill: black;
}

/* Additional styling for interactive elements */
button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5);
}

/* Responsive design */
@media (max-width: 768px) {
    .about-logos {
        animation: customBounce 2s infinite;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }
}
